body{
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
}
header{
    width: 25%;
    padding-left: 50%;
    padding-right: 50%;
    border-bottom: 1px rgb(223, 223, 223) solid;
    
}
.nav{
    margin: 16px;
    padding-right: 32px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
a:active{
    color: rgb(11, 11, 125);
}
ol{
    padding: 8px;
    font-family: "pretendard", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.article{
    font-family: "pretendard", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.icon{
    padding: 8px 8px 8px 8px;
}

.box{
    display: flex;
    align-items: center;
}
main{
    border-left: 1px rgb(223, 223, 223) solid;
    padding-left: 32px;
    padding-top: 16px;
}
footer{
    font-family: "pretendard", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-top: 1px rgb(223, 223, 223) solid;
    padding: 32px 0 0 32px;
}